# Ignore API keys
*.csv
*.zip
kaggle.json
sentiment140/


# Ignore virtual environment
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore datasets
data/
datasets/

# Ignore model weights
models/
checkpoints/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/


